body {
    margin: 0px;
    padding: 0;
    background: local;
}
  
  header{
    background: white;
    -webkit-box-shadow: 0px 0px 13px rgba(241, 231, 231, 0.3);
  }
  
  .header-tekst{
    width: 100%;
    text-align: center;
    padding: 35px 0;
  }
  
  h1{
    font-family: open sans;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
  }
  
  h2{
    color: #999;
    font-family: open sans;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  h1, h2{
    padding: 0;
    margin: 0;
  }
  
  .header-meny{
    position: absolute;
    top: 45px;
    right: 45px;
    display: block;
    text-align: right;
  }
  
  .header-meny a{
    color: #fff;
    background: #c36322;
    text-decoration: none;
    font-family: roboto;
    font-weight: 500;
    display: inline-block;
    padding: 11px 20px;
    margin-left: 15px;
    transition: all .3s ease-in-out;
  }
  
  .header-meny a:hover{
    background: rgb(70, 66, 66);
    color: #eb8947;
    transition: all .3s ease-in-out;
  }
  
  .sm-12-black {
     
    justify-content: center;
   }
  .cubo {
    margin: 60px; 

   }

  .cubo-sm {
    gap: 15px; 
    display: flex;
    margin: 50px; 
    border: 2px solid black;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    align-items: center;
    justify-content: center;

  }

 .divContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: larger;
    margin-top: 60px;
    margin-bottom: 20px;
}